.raxbariyat_collects{
    background-color: #c76767;
}


.raxbariyat_collect_item a{
    transition: all  ease .5s;
    padding: 3px 15px;
}

.raxbariyat_collect_item a:hover{
    background-color: var(--mainBgColor);
}

.raxbariyat_title{
    text-align: center;
    margin: 20px 10px;
    font-size: 32px;
}

.info_main_detail{
    gap: 10px;
    background-color: #ccc;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info_main_detail_img{
    width: 180px;
    height: 200px;
}

.info_main_detail_img img{
    margin: 15px 0px;
    width: 100%;
    height: 100%;
}

.info_main_detail_text a{
    color: black;
}

.info_main_detail_text li{
    margin: 15px 0px;
}

.work_main_info{
    gap: 20px;
}

.work_detail{
    padding: 20px auto;
}
